/* Categorize.css */

.categorize-container {
    width: 80%;
    margin: 0 auto;
    color: white;
    text-align: center;
}

h2 {
    color: #1db954;
}

select {
    margin-top: 20px;
    padding: 10px;
    background-color: #333;
    color: white;
    border: 1px solid #1db954;
    border-radius: 10px;
    outline: none;
    font-size: 16px;
    cursor: pointer;
}

select:focus {
    border-color: #18a744;
}
