.dashboard-container {
    color: white;
    text-align: center;
    width: 80%;
    margin: 0 auto;
}

.playlist-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.playlist-table th, .playlist-table td {
    border: 1px solid #333;
    padding: 10px;
    text-align: left;
    color: #b3b3b3;
}

.playlist-table th {
    background-color: #1a1a1a;
    text-transform: uppercase;
    font-weight: bold;
}

.playlist-table td {
    background-color: #262626;
}

.playlist-cover {
    width: 60px;
    height: 60px;
    object-fit: cover;
}

.no-cover {
    width: 60px;
    height: 60px;
    background-color: #444;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #777;
    font-size: 12px;
    font-weight: bold;
}

.clickable-row {
    cursor: pointer;
}

.clickable-row:hover {
    background-color: #333;
}
